@ font-face {
  font-family: "Pudelinka";
  src:url("Fonts/pudelinka.ttf")format ('truetype');
  font-weight:normal;
  font-style:normal;
}
body{
  background-color: #d2b48c;
  margin-left: 20 %;
  margin-right: 20 %;
  border: 2 px dotted black;
  padding: 10 px 10 px 10 px 10 px;
  fon-family: sans serif;
}
blockquote.q{
  color:#D4AF37;
  border-left:4 px solid #8 B0000;
  font-style: italic;
}
p.quote{font-family:"Pudelinka",cursive;}
